In [52]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import scipy.optimize as opt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/new-data/train.csv
/kaggle/input/new-data/test.csv
/kaggle/input/dont-overfit-ii/train.csv
/kaggle/input/dont-overfit-ii/sample_submission.csv
/kaggle/input/dont-overfit-ii/test.csv

In [53]:
train = pd.read_csv('/kaggle/input/new-data/train.csv')
train = train.set_index('id')
train.head()

,target,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
0,1.0,-0.098,2.165,0.681,-0.614,1.309,-0.455,-0.236,0.276,-2.246,...,0.867,1.347,0.504,-0.649,0.672,-2.097,1.051,-0.414,1.038,-1.065
1,0.0,1.081,-0.973,-0.383,0.326,-0.428,0.317,1.172,0.352,0.004,...,-0.165,-1.695,-1.257,1.359,-0.808,-1.624,-0.458,-1.099,-0.936,0.973
2,1.0,-0.523,-0.089,-0.348,0.148,-0.022,0.404,-0.023,-0.172,0.137,...,0.013,0.263,-1.222,0.726,1.444,-1.165,-1.544,0.004,0.800,-1.211
3,1.0,0.067,-0.021,0.392,-1.637,-0.446,-0.725,-1.035,0.834,0.503,...,-0.404,0.640,-0.595,-0.966,0.900,0.467,-0.562,-0.254,-0.533,0.238
4,1.0,2.347,-0.831,0.511,-0.021,1.225,1.594,0.585,1.509,-0.012,...,0.898,0.134,2.415,-0.996,-1.006,1.378,1.246,1.478,0.428,0.253

In [54]:
test = pd.read_csv('/kaggle/input/new-data/test.csv')
test = test.set_index('id')
test.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
250,0.500,-1.033,-1.595,0.309,-0.714,0.502,0.535,-0.129,-0.687,1.291,...,-0.088,-2.628,-0.845,2.078,-0.277,2.132,0.609,-0.104,0.312,0.979
251,0.776,0.914,-0.494,1.347,-0.867,0.480,0.578,-0.313,0.203,1.356,...,-0.683,-0.066,0.025,0.606,-0.353,-1.133,-3.138,0.281,-0.625,-0.761
252,1.750,0.509,-0.057,0.835,-0.476,1.428,-0.701,-2.009,-1.378,0.167,...,-0.094,0.351,-0.607,-0.737,-0.031,0.701,0.976,0.135,-1.327,2.463
253,-0.556,-1.855,-0.682,0.578,1.592,0.512,-1.419,0.722,0.511,0.567,...,-0.336,-0.787,0.255,-0.031,-0.836,0.916,2.411,1.053,-1.601,-1.529
254,0.754,-0.245,1.173,-1.623,0.009,0.370,0.781,-1.763,-1.432,-0.930,...,2.184,-1.090,0.216,1.186,-0.143,0.322,-0.068,-0.156,-1.153,0.825

In [55]:
test.insert(0, 'Ones', 1)
test.head()

,Ones,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
250,1,0.500,-1.033,-1.595,0.309,-0.714,0.502,0.535,-0.129,-0.687,...,-0.088,-2.628,-0.845,2.078,-0.277,2.132,0.609,-0.104,0.312,0.979
251,1,0.776,0.914,-0.494,1.347,-0.867,0.480,0.578,-0.313,0.203,...,-0.683,-0.066,0.025,0.606,-0.353,-1.133,-3.138,0.281,-0.625,-0.761
252,1,1.750,0.509,-0.057,0.835,-0.476,1.428,-0.701,-2.009,-1.378,...,-0.094,0.351,-0.607,-0.737,-0.031,0.701,0.976,0.135,-1.327,2.463
253,1,-0.556,-1.855,-0.682,0.578,1.592,0.512,-1.419,0.722,0.511,...,-0.336,-0.787,0.255,-0.031,-0.836,0.916,2.411,1.053,-1.601,-1.529
254,1,0.754,-0.245,1.173,-1.623,0.009,0.370,0.781,-1.763,-1.432,...,2.184,-1.090,0.216,1.186,-0.143,0.322,-0.068,-0.156,-1.153,0.825

In [56]:
train.insert(1, 'Ones', 1)
train.head()

,target,Ones,0,1,2,3,4,5,6,7,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
0,1.0,1,-0.098,2.165,0.681,-0.614,1.309,-0.455,-0.236,0.276,...,0.867,1.347,0.504,-0.649,0.672,-2.097,1.051,-0.414,1.038,-1.065
1,0.0,1,1.081,-0.973,-0.383,0.326,-0.428,0.317,1.172,0.352,...,-0.165,-1.695,-1.257,1.359,-0.808,-1.624,-0.458,-1.099,-0.936,0.973
2,1.0,1,-0.523,-0.089,-0.348,0.148,-0.022,0.404,-0.023,-0.172,...,0.013,0.263,-1.222,0.726,1.444,-1.165,-1.544,0.004,0.800,-1.211
3,1.0,1,0.067,-0.021,0.392,-1.637,-0.446,-0.725,-1.035,0.834,...,-0.404,0.640,-0.595,-0.966,0.900,0.467,-0.562,-0.254,-0.533,0.238
4,1.0,1,2.347,-0.831,0.511,-0.021,1.225,1.594,0.585,1.509,...,0.898,0.134,2.415,-0.996,-1.006,1.378,1.246,1.478,0.428,0.253

In [57]:
# set X and y (remember from above that we moved the label to column 0)
cols = train.shape[1]
X2 = train.iloc[:,1:cols]
y2 = train.iloc[:,0:1]
X2.head()

,Ones,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
0,1,-0.098,2.165,0.681,-0.614,1.309,-0.455,-0.236,0.276,-2.246,...,0.867,1.347,0.504,-0.649,0.672,-2.097,1.051,-0.414,1.038,-1.065
1,1,1.081,-0.973,-0.383,0.326,-0.428,0.317,1.172,0.352,0.004,...,-0.165,-1.695,-1.257,1.359,-0.808,-1.624,-0.458,-1.099,-0.936,0.973
2,1,-0.523,-0.089,-0.348,0.148,-0.022,0.404,-0.023,-0.172,0.137,...,0.013,0.263,-1.222,0.726,1.444,-1.165,-1.544,0.004,0.800,-1.211
3,1,0.067,-0.021,0.392,-1.637,-0.446,-0.725,-1.035,0.834,0.503,...,-0.404,0.640,-0.595,-0.966,0.900,0.467,-0.562,-0.254,-0.533,0.238
4,1,2.347,-0.831,0.511,-0.021,1.225,1.594,0.585,1.509,-0.012,...,0.898,0.134,2.415,-0.996,-1.006,1.378,1.246,1.478,0.428,0.253

In [58]:
X2.shape

(250, 301)

In [59]:
TX2 = test.iloc[:,0:cols]
TX2.head()

,Ones,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
250,1,0.500,-1.033,-1.595,0.309,-0.714,0.502,0.535,-0.129,-0.687,...,-0.088,-2.628,-0.845,2.078,-0.277,2.132,0.609,-0.104,0.312,0.979
251,1,0.776,0.914,-0.494,1.347,-0.867,0.480,0.578,-0.313,0.203,...,-0.683,-0.066,0.025,0.606,-0.353,-1.133,-3.138,0.281,-0.625,-0.761
252,1,1.750,0.509,-0.057,0.835,-0.476,1.428,-0.701,-2.009,-1.378,...,-0.094,0.351,-0.607,-0.737,-0.031,0.701,0.976,0.135,-1.327,2.463
253,1,-0.556,-1.855,-0.682,0.578,1.592,0.512,-1.419,0.722,0.511,...,-0.336,-0.787,0.255,-0.031,-0.836,0.916,2.411,1.053,-1.601,-1.529
254,1,0.754,-0.245,1.173,-1.623,0.009,0.370,0.781,-1.763,-1.432,...,2.184,-1.090,0.216,1.186,-0.143,0.322,-0.068,-0.156,-1.153,0.825

In [60]:
X2.head()

,Ones,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
id,,,,,,,,,,,,,,,,,,,,,
0,1,-0.098,2.165,0.681,-0.614,1.309,-0.455,-0.236,0.276,-2.246,...,0.867,1.347,0.504,-0.649,0.672,-2.097,1.051,-0.414,1.038,-1.065
1,1,1.081,-0.973,-0.383,0.326,-0.428,0.317,1.172,0.352,0.004,...,-0.165,-1.695,-1.257,1.359,-0.808,-1.624,-0.458,-1.099,-0.936,0.973
2,1,-0.523,-0.089,-0.348,0.148,-0.022,0.404,-0.023,-0.172,0.137,...,0.013,0.263,-1.222,0.726,1.444,-1.165,-1.544,0.004,0.800,-1.211
3,1,0.067,-0.021,0.392,-1.637,-0.446,-0.725,-1.035,0.834,0.503,...,-0.404,0.640,-0.595,-0.966,0.900,0.467,-0.562,-0.254,-0.533,0.238
4,1,2.347,-0.831,0.511,-0.021,1.225,1.594,0.585,1.509,-0.012,...,0.898,0.134,2.415,-0.996,-1.006,1.378,1.246,1.478,0.428,0.253

In [61]:
y2.head()

    target
id
0      1.0
1      0.0
2      1.0
3      1.0
4      1.0

In [62]:
# convert to numpy arrays and initalize the parameter array theta
X2 = np.array(X2.values)
y2 = np.array(y2.values)
theta2 = np.zeros(301)

In [63]:
TX2 = np.array(TX2.values)
TX2

array([[ 1.   ,  0.5  , -1.033, ..., -0.104,  0.312,  0.979],
       [ 1.   ,  0.776,  0.914, ...,  0.281, -0.625, -0.761],
       [ 1.   ,  1.75 ,  0.509, ...,  0.135, -1.327,  2.463],
       ...,
       [ 1.   , -0.554, -0.936, ...,  1.546,  0.759,  0.519],
       [ 1.   , -0.746,  1.205, ...,  1.319, -0.181,  0.689],
       [ 1.   ,  0.736, -0.216, ..., -0.268,  0.133,  0.826]])

In [64]:
X2

array([[ 1.   , -0.098,  2.165, ..., -0.414,  1.038, -1.065],
       [ 1.   ,  1.081, -0.973, ..., -1.099, -0.936,  0.973],
       [ 1.   , -0.523, -0.089, ...,  0.004,  0.8  , -1.211],
       ...,
       [ 1.   ,  1.411, -1.465, ...,  0.76 ,  0.168, -0.719],
       [ 1.   ,  0.62 ,  1.04 , ..., -0.805,  2.029, -0.423],
       [ 1.   ,  0.489,  0.403, ..., -1.454, -0.625,  1.474]])

In [65]:
y2

array([[1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.]])

In [66]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [67]:
def costReg(theta, X, y, learningRate):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    first = np.multiply(-y, np.log(sigmoid(X * theta.T)))
    second = np.multiply((1 - y), np.log(1 - sigmoid(X * theta.T)))
    reg = (learningRate / 2 * len(X)) * np.sum(np.power(theta[:,1:theta.shape[1]], 2))
    return np.sum(first - second) / (len(X)) + reg

In [68]:
def gradientReg(theta, X, y, learningRate):
    theta = np.matrix(theta)
    X = np.matrix(X)
    y = np.matrix(y)
    
    parameters = int(theta.ravel().shape[1])
    grad = np.zeros(parameters)
    
    error = sigmoid(X * theta.T) - y
    
    for i in range(parameters):
        term = np.multiply(error, X[:,i])
        
        if (i == 0):
            grad[i] = np.sum(term) / len(X)
        else:
            grad[i] = (np.sum(term) / len(X)) + ((learningRate / len(X)) * theta[:,i])
    
    return grad

In [69]:
learningRate = 100000

In [70]:
costReg(theta2, X2, y2, learningRate)

0.6931471805599454

In [71]:
gradientReg(theta2, X2, y2, learningRate)

array([-1.40000e-01, -5.53740e-02,  3.92120e-02, -1.60260e-02,
       -5.86400e-03,  5.66820e-02,  2.40640e-02,  2.30300e-02,
       -1.28860e-02,  2.75320e-02,  3.70200e-02,  7.78000e-03,
        1.84000e-04, -7.35200e-03, -5.27540e-02, -2.59680e-02,
        4.86580e-02,  6.84660e-02, -3.88920e-02, -2.78680e-02,
        3.06920e-02,  1.66840e-02, -3.28400e-02,  6.18400e-03,
        2.76000e-02, -6.47180e-02, -5.63760e-02,  3.68840e-02,
       -3.04440e-02,  3.35880e-02, -3.52660e-02, -5.75080e-02,
        1.11080e-02,  1.36100e-02, -1.62934e-01,  4.25000e-03,
        1.00580e-02, -2.73020e-02,  2.34360e-02,  2.85100e-02,
        7.43080e-02,  4.84000e-04,  1.14760e-02, -1.50920e-02,
        5.11220e-02,  3.80000e-04,  3.53060e-02, -3.14540e-02,
       -1.33780e-02,  9.90600e-03,  4.24000e-03, -2.86020e-02,
       -2.67400e-03,  2.74160e-02, -1.47760e-02, -2.36900e-02,
        3.12840e-02,  1.47300e-02,  1.64600e-02,  6.89200e-03,
       -3.21500e-02, -2.00220e-02,  3.29840e-02,  3.32120e-02,
        4.73740e-02,  3.89640e-02, -1.39026e-01,  3.07720e-02,
       -7.01600e-03,  2.07860e-02,  6.16000e-03,  3.03440e-02,
       -1.06780e-02, -4.45480e-02,  8.12840e-02,  1.52420e-02,
       -1.15760e-02,  2.25560e-02,  3.76320e-02, -1.00000e-02,
       -1.73560e-02,  7.70960e-02, -1.18440e-02,  6.51620e-02,
        2.43260e-02, -1.23160e-02,  2.06140e-02,  1.82440e-02,
        9.42000e-03, -1.08900e-02, -3.63160e-02,  6.27340e-02,
        1.01898e-01,  1.75100e-02,  3.19600e-02,  3.79820e-02,
        3.34940e-02,  2.76420e-02,  3.02800e-03,  5.25360e-02,
       -3.76160e-02, -7.55000e-03, -6.67980e-02,  4.06120e-02,
       -3.34100e-02, -4.43180e-02, -5.26420e-02,  1.92240e-02,
       -3.80780e-02,  5.50360e-02,  1.66820e-02,  3.92240e-02,
        2.64000e-04, -2.38940e-02,  2.29420e-02, -6.62940e-02,
       -3.58240e-02,  2.69080e-02,  1.00592e-01,  1.11340e-02,
       -3.04580e-02,  2.50220e-02,  6.64800e-03, -1.34380e-02,
        3.21000e-03, -2.08400e-03,  1.66920e-02, -1.12400e-02,
        5.10700e-02,  1.73520e-02,  8.14060e-02, -1.30840e-02,
       -1.75020e-02,  3.73580e-02,  7.68880e-02,  5.26880e-02,
        1.17120e-02,  6.45000e-03, -3.36640e-02,  3.03500e-02,
        1.13220e-02,  6.05200e-03,  2.88800e-02,  2.44240e-02,
        3.71060e-02,  3.72760e-02, -2.38840e-02,  3.35100e-02,
        2.80660e-02,  4.28860e-02,  8.57000e-03,  7.39260e-02,
        5.43500e-02, -2.84200e-02,  8.38200e-03, -1.65340e-02,
        2.18180e-02,  4.54120e-02, -8.70600e-03,  8.01400e-03,
        1.75560e-02, -1.27260e-02,  2.18620e-02, -2.70900e-02,
       -3.17420e-02, -5.03100e-02,  7.40160e-02,  3.05760e-02,
       -4.22000e-03, -3.24400e-02,  1.14440e-02, -1.91380e-02,
       -9.05200e-03,  2.28600e-03,  2.15000e-03, -1.52640e-02,
        2.56240e-02, -4.14980e-02, -1.88560e-02,  2.07800e-03,
        3.03600e-02,  3.21020e-02,  3.38600e-03,  3.13040e-02,
       -7.69480e-02, -8.42000e-04, -8.55200e-03, -4.01620e-02,
       -3.44940e-02,  5.16400e-03,  7.14520e-02, -1.11840e-02,
        5.65400e-03,  2.28500e-02, -5.17500e-02,  5.99620e-02,
        7.66000e-04,  2.50720e-02,  8.28400e-03,  5.14580e-02,
       -6.82920e-02, -3.31000e-03, -7.10020e-02,  1.58780e-02,
       -3.38340e-02, -1.34800e-02, -1.51800e-02,  2.23860e-02,
       -3.13400e-03, -2.33220e-02,  5.80080e-02,  2.24120e-02,
        3.50100e-02, -6.71200e-03,  2.25120e-02, -5.13700e-02,
       -4.52020e-02,  1.25180e-02,  9.50700e-02,  1.82600e-03,
       -1.65820e-02,  6.81440e-02, -3.55360e-02, -5.55600e-03,
        2.62000e-04,  1.10320e-02, -3.94500e-02, -6.28920e-02,
        5.02380e-02,  6.87040e-02,  3.54620e-02,  6.32020e-02,
        1.55560e-02,  3.05400e-03, -1.83400e-03, -2.68620e-02,
       -2.67640e-02, -8.26000e-04,  7.69860e-02,  1.07800e-03,
        6.10700e-02, -3.95680e-02, -2.39580e-02,  1.14800e-02,
        1.14460e-02, -5.96420e-02,  3.36360e-02, -5.99660e-02,
       -1.32420e-02, -1.67420e-02, -2.43280e-02,  2.42840e-02,
        2.15080e-02,  5.70920e-02, -3.11160e-02,  5.62200e-03,
       -1.95700e-02, -4.11600e-03, -9.92000e-04,  7.09500e-02,
       -2.52940e-02,  2.11620e-02,  4.46720e-02,  4.01340e-02,
       -2.11160e-02, -2.30440e-02, -6.39000e-03,  1.29600e-03,
       -1.77700e-02,  3.23920e-02, -9.00000e-05,  2.62060e-02,
        4.46000e-04, -6.89060e-02,  2.34800e-03, -2.03680e-02,
        3.30940e-02,  5.19240e-02,  4.16600e-03, -7.28400e-03,
        3.71760e-02, -4.42720e-02,  3.37320e-02, -3.37140e-02,
       -4.46940e-02,  1.07800e-03, -4.02960e-02,  1.82120e-02,
        2.49380e-02,  4.71880e-02, -7.00840e-02, -2.54740e-02,
       -4.36360e-02,  3.80700e-02,  1.75060e-02,  2.53920e-02,
        9.96680e-02, -9.95200e-03, -2.80900e-02,  6.37660e-02,
        5.31680e-02])

In [72]:
result2 = opt.fmin_tnc(func=costReg, x0=theta2, fprime=gradientReg, args=(X2, y2, learningRate))
result2

(array([ 1.09380956e-03,  2.53788753e-07, -1.72944528e-07, -3.60301756e-08,
         2.73347911e-08, -2.77299045e-07, -1.12331454e-07, -1.34049366e-07,
         9.28506664e-09, -1.08951750e-07, -2.04916263e-07, -3.43816399e-08,
        -7.64342347e-08,  2.22710911e-08,  2.58044918e-07,  1.37864098e-07,
        -2.10165751e-07, -3.45531505e-07,  2.62586809e-07,  1.11342050e-07,
        -1.19950647e-07, -5.13061751e-09,  1.10495806e-07, -4.18963520e-08,
        -1.13359723e-07,  4.03067197e-07,  1.69311340e-07, -2.36448159e-07,
         1.21159924e-07, -1.01212047e-07,  1.34459157e-07,  3.13201017e-07,
        -4.22007413e-08, -7.14306279e-08,  8.86119564e-07, -8.43648893e-08,
        -3.50561195e-08,  1.34569425e-07, -1.78705613e-08, -9.68449042e-08,
        -3.32133383e-07, -8.69395828e-09, -1.74742236e-08,  9.15607991e-08,
        -2.81492014e-07,  1.79200195e-08, -2.05038561e-07,  1.74372561e-07,
         1.02587133e-07, -1.06234288e-07, -3.51009748e-08,  1.17975601e-07,
        -3.10596562e-08, -1.66018673e-07,  1.07237643e-07,  8.44216820e-08,
        -1.26433262e-07, -8.30345876e-08, -4.96859508e-08, -8.14755218e-08,
         1.24199488e-07,  3.75718915e-08, -1.40981402e-07, -1.85420393e-07,
        -2.74787180e-07, -1.38758109e-07,  6.75281382e-07, -7.17969335e-08,
         1.09602814e-08, -1.06048079e-07,  1.01695293e-08, -1.70824347e-07,
         7.50791420e-08,  1.79366870e-07, -3.99989073e-07,  5.61165423e-09,
        -1.41065946e-09, -1.58306803e-07, -8.72619176e-08,  9.84470767e-08,
         7.04676970e-08, -3.91892546e-07,  7.01159018e-08, -2.69256087e-07,
        -6.72487238e-08,  9.47928485e-08, -1.31993148e-07, -1.04754494e-07,
        -3.62621514e-08,  3.25530429e-08,  2.37477252e-07, -3.08054242e-07,
        -4.50636787e-07,  2.57469909e-08, -6.27479361e-08, -1.74514846e-07,
        -1.36668943e-07, -1.30922659e-07, -1.93853256e-08, -2.37677402e-07,
         1.57593103e-07,  9.24465271e-08,  2.92953247e-07, -1.09800936e-07,
         1.05246201e-07,  1.87921439e-07,  2.53038776e-07, -1.49597461e-07,
         1.97729879e-07, -2.69249107e-07, -8.33430568e-09, -1.60538672e-07,
        -1.39232728e-08,  1.46707676e-07, -1.46111602e-07,  2.83445500e-07,
         8.09742785e-08, -1.31938247e-07, -4.95584719e-07, -5.29425123e-08,
         2.27735865e-07, -1.56858476e-07, -4.02799629e-08,  2.79481053e-08,
        -5.72187708e-08, -2.26945521e-08, -5.47519190e-08,  1.09718135e-07,
        -2.50510342e-07, -7.46285194e-08, -2.97005512e-07,  1.08939239e-07,
         6.81507792e-08, -1.57147291e-07, -3.24893230e-07, -3.00154147e-07,
        -6.33716148e-08, -6.48139565e-09,  1.87783577e-07, -1.36281730e-07,
        -7.05089615e-08, -5.80384780e-08, -1.53411512e-07, -1.52134470e-07,
        -2.18243667e-07, -1.76581541e-07,  1.69773154e-07, -1.12730735e-07,
        -5.93428429e-08, -2.04750762e-07, -1.03122073e-07, -3.20650741e-07,
        -2.23614317e-07,  1.07565845e-07, -2.10230833e-08,  6.97545806e-08,
        -1.16495159e-07, -2.22020465e-07,  1.43972868e-07, -6.23757257e-08,
        -4.41046037e-08,  9.39133457e-08, -8.30089334e-08,  1.03224251e-07,
         1.62219980e-07,  2.74255140e-07, -3.44991599e-07, -1.42801305e-07,
        -7.70602853e-08,  1.49802906e-07, -1.46680770e-08,  1.45039517e-07,
         5.89216494e-08, -3.29831513e-09, -1.25516543e-08,  4.28720225e-08,
        -4.74550903e-08,  2.30594943e-07,  9.22661365e-08, -2.18808470e-08,
        -1.50281181e-07, -2.32961224e-07, -5.53646001e-08, -1.65835935e-07,
         3.71516600e-07,  2.36241919e-08,  3.03330544e-08,  1.30653064e-07,
         1.40486768e-07,  3.35825779e-08, -3.60535799e-07,  5.80250104e-08,
        -8.60214713e-09, -1.24112384e-07,  1.91613523e-07, -3.39771037e-07,
        -1.72064044e-09, -9.05782040e-08, -3.73746994e-08, -1.87665744e-07,
         3.87109629e-07,  3.70200302e-08,  3.51155144e-07, -1.03971395e-07,
         1.08557697e-07,  3.42444714e-08,  2.17281270e-08, -6.76064532e-08,
         7.49896332e-09,  1.42323293e-07, -3.00364466e-07, -7.23738641e-08,
        -1.41063756e-07, -2.68287620e-08, -1.29576006e-07,  2.28237494e-07,
         2.10654048e-07, -6.90281267e-08, -4.91823021e-07,  3.91069666e-08,
         2.64322104e-08, -3.11420639e-07,  1.97446256e-07,  6.63681344e-08,
        -1.39166043e-08,  5.08974924e-09,  1.66295294e-07,  2.47369819e-07,
        -2.55908834e-07, -1.98405989e-07, -1.67263443e-07, -3.21401493e-07,
        -3.59125980e-08, -3.54129804e-08, -5.44006859e-08,  8.21428955e-08,
         1.44952529e-07, -1.45212261e-08, -3.09085272e-07, -2.39228094e-08,
        -2.67241964e-07,  2.29707693e-07,  1.77718276e-07, -7.15458793e-08,
        -1.84932509e-07,  2.58193809e-07, -1.40098073e-07,  2.14697832e-07,
         4.88001015e-08,  2.55709688e-08,  3.62347000e-08, -1.43293233e-07,
        -1.67678442e-07, -2.93905037e-07,  2.05432770e-07, -9.22070328e-09,
         1.08724014e-07,  3.73472481e-08,  2.82320525e-08, -3.20124712e-07,
         9.46927697e-08, -1.07044804e-07, -1.47947214e-07, -1.86264983e-07,
         4.20903803e-08,  8.77342403e-08,  1.99993558e-08,  4.12854746e-08,
         1.63679984e-07, -1.82295056e-07, -2.31168300e-08, -8.24644740e-08,
         3.79145128e-08,  2.73233770e-07,  8.77912066e-09,  2.01719666e-08,
        -1.66450798e-07, -2.76020250e-07, -8.18160481e-08,  3.45740075e-08,
        -1.75765285e-07,  1.86224552e-07, -2.20812429e-07,  9.70935211e-08,
         1.80002125e-07, -8.15570320e-08,  2.07161395e-07, -1.13188869e-07,
        -1.39326260e-07, -1.89768456e-07,  2.89050906e-07,  9.37072415e-08,
         1.26715763e-07, -1.98243333e-07, -7.72498043e-08, -7.91039452e-08,
        -4.13373886e-07,  1.71057608e-08,  1.32414443e-07, -3.17127900e-07,
        -1.71505532e-07]), 89, 4)

In [73]:
theta_min = np.matrix(result2[0])

In [74]:
len(result2[0])

301

In [75]:
submission = pd.read_csv('/kaggle/input/dont-overfit-ii/sample_submission.csv')
submission['target'] = sigmoid(TX2 * theta_min.T)

submission.to_csv('submission.csv', index=False)

submission.head(15)

     id    target
0   250  0.500274
1   251  0.500274
2   252  0.500273
3   253  0.500275
4   254  0.500273
5   255  0.500273
6   256  0.500272
7   257  0.500273
8   258  0.500273
9   259  0.500273
10  260  0.500274
11  261  0.500273
12  262  0.500272
13  263  0.500274
14  264  0.500273